$text-width: 180px;
$num-width: 80px;


.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.text {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.text {
  width: $text-width;
}

.num {
  width: $num-width;
}

body {
  font-size: 20px;
}

.table-row {
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
}

.table-row.header {
  background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search {
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;

  @media(min-width: 40rem) {
    width: 100%;
  }
  @media(min-width: 56rem) {
    width: 50%;
  }

}

.searchby {
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  font-size: 16px;

  @media(min-width: 40rem) {
    width: 100%;
  }
  @media(min-width: 56rem) {
    width: 10%;
    margin-left: 5px;
  }
}
